.container-fluid{
    --bs-gutter-x: 0;
    .row{
        margin-right: unset;
        margin-left: unset;
        padding-right: unset;
        padding-left: unset;
    }
}
.mainInf{
    margin: 50px 0;
    .infSection{
        display: flex;
        justify-content: center;
        height: 500px;
        width: 100%;
        background-color: map-get($coloresPricipales, nro3);
        .infText{
            width: 50%;
            height: 100%;
            padding: 50px;
            font-size: 15px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            h2{
                font-size: 30px;
            }
            span{
                font-weight: bold;
            }
        }
        .mapa{
            position: relative;
            width: 50%;
            height: 100%;
            iframe{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
}