$coloresPricipales: (
    nro1: rgba(255, 190, 61, 0.5),
    nro2: rgba(255, 225, 167),
    nro3: #ffe5bc,
);
$coloresSecundarios: (
    nro1: #fff1d6, /* tienda - catalogo filtro */
    nro2: black,
    nro3: black,
);

$fontPrincipal: 'Roboto', Arial, Helvetica, sans-serif;
$fontSecundaria: 'Roboto', Arial, Helvetica, sans-serif;

$fontSize: (
    nro1: 15px,
);