/* header */
@media screen and (max-width:992px) {
    .navbar{
        width: 100%;
    }
    .menuLinks{
        ul{
            background-color: unset;
            width: 100%;
            li{
                background-color: rgba(255, 190, 61, 0.5);
                margin: 5px;

            }
        }
    }
}

/* footer */
@media screen and (max-width:992px) {
    .footer{
        width: 100%;
        flex-direction: column;
    }
}


/* index */

/* nosotros */

/* tienda */
@media screen and (max-width:1024px) {
    .gridMainTienda{
        .gridTiendaMenu{
            width: 100%;
            background-color: black;
        }
    }
}
@media screen and (max-width:768px) {
    .gridTienda{
        grid-template-rows: 100px 3fr 1fr;
        .gridMainTienda{
            .gridTiendaMenu{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-areas:
                "catalogo"
                "filtro"
                "productos";
                .catalogo{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    grid-template-areas: 
                    "catalogoItem1 catalogoItem2";
                    background-color: green;
                }
                .filtro{
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
        .gridFooterTienda{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            background-color: aqua;
        }
    }
}
@media screen and (max-width:425px) {
    .gridMainTienda{
        .gridTiendaMenu{
            background-color: blue;
        }
    }
}
@media screen and (max-width:320px) {
    .gridMainTienda{
        .gridTiendaMenu{
            background-color: yellow;
        }
    }
}

/* información */

/* contacto */